# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out

# dirs
bin/
obj/
.vs/
.obsidian/
.vscode/
Release/
Debug/
build/
tests/.vs
tests/bin
tests/obj
__pycache__/